*{
    margin: 0;
    padding: 0;
}
ul{
    display: inline-grid;
    grid-template-columns: auto auto;

}
ul li{
    list-style: none;
    margin: 0 35px;
    padding: 25px 0;
}
header{
    background-color: black;
    color: white;
}