*{
    margin: 0;
    padding: 0;
}
ul{
    padding: 30px;
}
li{
    list-style: none;
    display: inline;
    padding: 50px;
    font-size: 1.5rem;
}
header{
    background-color: black;
    color: aliceblue;
}

.container{
    background-color: azure;
    display: flex;
    justify-content:space-between;
}
.one{
    background-color:yellow;
}
.two{
    background-color:chartreuse;;
}
.same{
    height: 40vh;
    width: 45%;

}