.container{
    background-color: black;
    color: white;
    height: 20vh;
    width: 75vw;
    margin: auto;
    text-align: center;
}

@media screen and (max-width:500px){
    .container{
        background-color: aliceblue;
        color: black;
        max-width: 300px;
        min-width: 150px;
    }
}